body{
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  color: #fff;
  background: url('images/woman.jpg');
}
.title,.body{
  margin: 40px auto auto 40px;
}
.brand-name{
  font-size: 2rem;
  display: inline-block;
  line-height: 1.5rem;
}
.brand-des{
  text-align: left;
  width: 40%;
  font-size: 3rem;
  line-height: 3.5rem;
}
.navbar{
  position: absolute;
  right: 20px;
  top : 40px;
}
.navbar li{
  display: inline;
  padding: 0 20px;
}
.navbar a{
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.navbar a:hover{
  color: #fff;
  text-decoration: underline;
}
.body{
  border: 1px solid white;
  padding: 30px;
  border-radius: 28px;
  width: 30%;
}
input{
  display: block;
  margin: 2px solid black;
  font-size: 1.5rem;
}
button{
  width: 306px;
  height: 36px;
  font-size: 1.5rem;
}
